/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

html {
  font-family: 'Roboto', sans-serif;
  font-feature-settings: normal;
  font-style: normal;
}

body {
  color: #777;
  font-size: 16pt;
  background: #fff;
  -webkit-text-size-adjust: none;
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

.noscroll {
  overflow: hidden !important;
  height: 100% !important;
}
