<div class="page-wrapper">
  <section id="banner">
    <img id="herb" src="assets/images/HerbCraft.png" alt="" />
    <h1>Drzewica w zupełnie nowej odsłonie</h1>
  </section>

  <!--@*<div class="jumbotron">-->
  <!--  <h1>DrzewicaCraft</h1>-->
  <!--  <p class="lead">DrzewicaCraft to projekt budownlany w grze, który wystartował w czerwcu 2016-go roku.</p>-->
  <!--  <p class="lead">Celem projektu jest zbudowanie miasta Drzewica w popularnej grze komputerowej - Minecraft.</p>-->
  <!--  <p><a href="" class="btn btn-primary btn-lg">Dowiedz się więcej</a></p>-->
  <!--</div>*@-->

  <section class="text-section">
    <header>
      <div class="container">
        <h2>Całe miasto budowane z największą precyzją w grze Minecraft!</h2>
      </div>
    </header>
  </section>

  <section id="scrollImageOne"></section>

  <section class="text-section">
    <header>
      <div class="container">
        <h2>Odwiedź każdą część miasta w pixelowym świecie!</h2>
      </div>
    </header>
  </section>

<!--  <section class="text-section">-->
<!--    <header>-->
<!--      <div class="container">-->
<!--        <h2>Adres serwera: już wkrótce...</h2>-->
<!--      </div>-->
<!--    </header>-->
<!--  </section>-->

</div>
