<div class="about">
  <section class="text-center">
    <h2>O projekcie</h2>
    <pre>DrzewicaCraft jest projektem, którego pomysł narodził się już w 2016 roku.
      Było wtedy upalne lato, a jeden z Drzewiczanów, Pan Bartłomiej, usiadł pod drzewem i rozmyślał o tym co ciekawego mógłby utworzyć
      w swojej ulubionej grze komputerowej Minecraft.
      Na początku przelatywały mu przez myśli wizje odwzorowania ogródka z podręcznika do ogrodnictwa posiadającego bardzo ładne szkice.
      Kolejno wpadł na pomysł połączenia tego z odwzorowaniem swojego domu oraz podwórka.
      Tak też zrobił, a po zrealizowaniu tej myśli zauważył że wygląda to naprawdę bardzo przyjemnie oraz ładnie.
      Wpadł więc na pomysł odwzorowania całej Drzewicy w Minecraftcie.

      I tak to się zaczęło. Serwer powstał, a Bartłomiej zachęcał do projektu inne osoby, aby wspólnie budować Drzewicę.
      Podczas tamtego lata, wyruszał co drugi dzień przejść się po mieście robiąc zdjęcia budynków aby jak najlepiej odwzorować Drzewicę.
      Robił wyliczenia pozwalające mu zadbać o jak największą prezycję. W mgnieniu oka powstał pierwszy budynek - Szkoła Podstawowa im. Polskich Olimpijczyków.
      A po pierwszych kilku tygodniach projekt posiadał już ulicę S.Staszica,
      a obok niej parę budynków, takich jak budynek Gminy, Ośrodku Zdrowia oraz części tak zwanego "Nowego Osiedla" (os. im. Bolesława Chrobrego).

      Niestety, w pewnym czasie projekt został zawieszony, głównie z powodu braku czasu.

      W 2023 projekt wrócił do życia na nowszej wersji Minecrafta.
    </pre>
  </section>
</div>
