@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    Chcesz się z nami skontaktować?<br />
    Napisz do nas na naszym Facebooku!
    @*Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    0733445156*@
</address>

<address>
    <strong>Facebook:</strong>   <a href="https://www.facebook.com/DrzewicaCraft">facebook/DrzewicaCraft</a><br />
    @*<strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>*@
</address>