@{
    ViewBag.Title = "DrzewicaCraft";
}

<section id="banner">
        <span class=""><img id="herb" src="~/Content/HerbCraft.png" alt=""/></span>
        <h2 style="">Drzewica w zupełnie nowej odsłonie</h2>
</section>

@*<div class="jumbotron">
        <h1>DrzewicaCraft</h1>
        <p class="lead">DrzewicaCraft to projekt budownlany w grze, który wystartował w czerwcu 2016-go roku.</p>
        <p class="lead">Celem projektu jest zbudowanie miasta Drzewica w popularnej grze komputerowej - Minecraft.</p>
        <p><a href="" class="btn btn-primary btn-lg">Dowiedz się więcej &raquo;</a></p>
    </div>*@

<section class="main">  
    <header>
        <div class="container">
            <h2>Całe miasto budowane z największą precyzją w grze Minecraft!</h2>
        </div>
    </header>
</section>

<section id="scrollImageOne"></section>

<section class="main">
    <header>
        <div class="container">
            <h2>Odwiedź każdą część miasta w pixelowym świecie!</h2>
        </div>
    </header>
</section>

@*<section class="main">
    <header>
        <div class="container">
            <h2>DrzewicaCraft to projekt budowlany, który wystartował w czerwcu 2016 roku.</h2>
        </div>
    </header>
</section>*@

@*<section class="main">
    <header>
        <div class="container">
            <h2></h2>
        </div>
    </header>
</section>*@